
img{
    width: 100%;
    height: 282px;
    transition: 0.4s;

    object-fit: cover;
}

.image{
    overflow: hidden;

}

.pagination{
    justify-content: center;
}

form{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 240px;
    justify-content: space-between;
}

form input{
    width: 30%;
}

form button{
    margin-top: 14px;
}

h5{
    cursor: pointer;
    transition: 0.21s;
}

h5:hover{
    color: blanchedalmond;
}

.phones{
    display: flex;
}

.phone{
    /* border: 1px solid #d1d8e0; */
    text-align: center;
    transition: 0.4s;

}

.phone:hover{
    box-shadow: 7px 7px 11px 0px rgba(0,0,0,0.67);
-webkit-box-shadow: 7px 7px 11px 0px rgba(0,0,0,0.67);
-moz-box-shadow: 7px 7px 11px 0px rgba(0,0,0,0.67);
}

img:hover{
    transform: scale(1.03);
}
.wrapper{
    padding: 12px;
}
.slider{
    transform: scale(1.3);
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}